*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#table {
    width: 300px;
    margin: 100px auto;
}

table {
    width: 300px;
}

td, th {
    border: 1px solid black;
}

.arrow-down::before {
    content: "\2193";
}

.arrow-up::before {
    content: "\2191";
}